html, body {
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 95%;
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 9%;
    background-color: #ffffff;
    padding: 25px 10px 0px;
    font-size: small;
}
.header {
    background-color: #95BAFF;
    min-height: 140px;
    max-height: 140px;
}
.content {
    background-color:#d7f0ff;
    min-height: 300px;
    padding: 20px;
    border-color: #95BAFF;
    border-style: groove;
}
.footer {
    background-color:#d7f0ff;
    min-height: 100px;
    text-align: center;
    font-size: 12px
    table{ 
        width: 33%;
    }
    td {
        width: 33%;
    }
}
.hr{
    color: #123455;
  }