.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    margin-right: .5rem;
}


.information .cidade::before{
    background-image: url('/JavaScript/Portf贸lio/assets/images/location.svg');
    background-image: no-repeat;
    background-size: cover;
}

.information .titulo::before{
    background-image: url('/JavaScript/Portf贸lio/assets/images/profile.svg');
    background-image: no-repeat;
    background-size: cover;
}

.information .email::before{
    background-image: url('/JavaScript/Portf贸lio/assets/images/email.svg');
    background-image: no-repeat;
    background-size: cover;
}

.information .phone::before{
    background-image: url('/JavaScript/Portf贸lio/assets/images/whatsapp.svg');
    background-image: no-repeat;
    background-size: cover;
}

